.fondo{
    background-color: #158f97 ;
    font-family: Arial Bold;
}
.verde-letra{
   color:#abc241;
   font-size: 110%;
}
.col-6{
font-size: 40px;
}
.especialidad{
    background: #abc241;
}
.btn{
    background: #abc241;
}